- name: Install Python dependencies
  pip:
    name:
      - fastapi
      - uvicorn
      - evidently
      - pandas
      - numpy
      - scikit-learn
    executable: pip3

- name: Copy service files
  copy:
    src: "{{ playbook_dir }}/../../service/"
    dest: "/opt/ml_service"
    mode: 0755

- name: Run service
  shell: |
    nohup uvicorn main:app --host 0.0.0.0 --port 8000 &
